<!DOCTYPE HTML>
<html>

<head>
    <title>spotify-dl</title>
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.js'></script>
    <script type='text/javascript' charset='utf-8'>
        $(document).ready(function () {
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('connect', function (msg) {
                socket.emit('my event', { data: 'I\'m connected!' });
            });

            socket.on('message', function (data) {
                playlists = JSON.parse(data.playlists_status);
                playlistNames = JSON.parse(data.playlist_names);

                var list = '';
                $.each(playlists, function (playlist, tracks) {
                    list += '<ul style="float:left"><h2>' + playlist + '</h2>';
                    list += '<h3>Missing</h3>';
                    $.each(tracks['missing'], function (key, track) {
                        list += '<li>' + track + '</li>';
                    });
                    list += '<h3>Downloaded</h3>';
                    $.each(tracks['downloaded'], function (key, track) {
                        list += '<li>' + track + '</li>';
                    });
                    list += '</ul>';
                });
                $('#playlists').html(list);

                var playlistNamesHtml = '';
                playlistNamesHtml += '<ul style="float:left"><h2>Select playlist to monitor</h2>';
                playlistNamesHtml += '<h3>Available</h3>';
                $.each(playlistNames['available'], function (index, playlist) {
                    playlistNamesHtml += '<li>' + playlist + '</li>';
                });
                playlistNamesHtml += '<h3>Monitored</h3>';
                $.each(playlistNames['monitored'], function (index, playlist) {
                    playlistNamesHtml += '<li>' + playlist + '</li>';
                });
                playlistNamesHtml += '</ul>';
                $('#playlistNames').html(playlistNamesHtml);
                $('#playlistNames').on('click', function(event) {
                    socket.emit('monitor_playlist', { data: event.target.innerText });
                })
            });

        });
    </script>
</head>

<body>
    <div id='playlists'></div>
    <div id='playlistNames'></div>
</body>

</html>